<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="body">
    <h1>Login page</h1>

    <p class="error" th:text="${loginErrorMessage}" th:if="${loginErrorMessage != null}"></p>

    <form th:action="@{/auth/login}" method="post">
        <input type="username" placeholder="Username" required="" th:name="username">
        <input type="password" placeholder="Password" required="" th:name="password">

        <button type="submit">Logar</button>
    </form>


</div>
</body>
</html>